{% extends "main.html" %}
{% block content %}
{% include "trainerheader.html" %}    
    <section id="main_container">
        <div id="page_title">
            <h2>Add an exercise:</h2>
        </div>
        <div class="form-section">
            <form id="add_exercise" action="{{ url_for('addExercise', user_id=user_id) }}" method="post">
                <h3>Name:</h3>
                <input class="reg-input" type="text" size="50" name="name" placeholder="Enter the name of the exercise"><br>
                <h3>Description:</h3>
                <textarea class="reg-textarea" name="desc" placeholder="Enter an exercise description"></textarea><br>
                <h3>Exercise Image URL:</h3>
                <input class="reg-input" type="text" size="50" name="image" placeholder="Enter a URL for the exercise picture"><br>
                <h3>Exercise Video URL:</h3>
                <input class="reg-input" type="text" size="50" name="video" placeholder="Enter a URL for the exercise video"><br>
                <h3>Body parts worked:</h3>
                {% for muscle_group in muscle_groups %}
                <input type="checkbox" name="muscle_group" value="{{ muscle_group }}">{{ muscle_group }}<br>
                {% endfor %}
                <h3>Type of exercise:</h3>
                {% for exercise_type in exercise_types %}
                <input type="checkbox" name="exercise_type" value="{{ exercise_type }}">{{ exercise_type }}<br>
                {% endfor %}
                <br>            
                <input type="submit" value="Save">
                <input type="button" value="Cancel" onclick="location.href=&quot{{ url_for('showExercises', user_id=user_id) }}&quot">
            </form>
        </div>
    </section>
{% endblock %}