{% extends "main.html" %}
{% block content %}
    <section id="main_container">
        <div id="page_title" class="container-spread">
            <div>
                <h2>Routine: <span class="highlight">{{ routine.name }}</span></h2>
            </div>            
        </div>
        <div>
            <h2>Difficulty: {{ routine.difficulty }}</h2>
        </div>
        <div class="routine-desc">
            Description: {{ routine.description }}
        </div>
        {% for set in sets %}
        {% if set.exercise.name and set.repetitions %}
        <div class="table">
            <div class="sets">
                Set<br>
                {{ set.order }}
            </div>
            <div class="exercise">
                {{ set.exercise.name }}
            </div>
            <div class="reps">
                REPS<br>
                {{ set.repetitions }}
            </div> 
            <div class="details">
                <button onclick="window.open('{{ url_for('showExerciseDetail', exercise_id=set.exercise.id) }}', '_blank', 'toolbar=no,scrollbars=yes,resizable=yes,top=200,left=500,width=1000,height=500')">View details</button>
            </div>      
        </div>
        {% endif %}
        {% endfor %} 
    </section>
{% endblock %}