<header class="container-spread">
    <div>
        <h1 class="title">Personal Trainer App</h1>
        <h2>Logged in as trainer: <span class="highlight"> {{user.name}} </span></h2>
    </div>    
    <div id="nav_button">
        <button onclick="location.href=&quot{{ url_for('showTrainerHomepage', user_id=user_id) }}&quot">Home</button>
        <button onclick="location.href=&quot{{ url_for('showTrainees', user_id=user_id) }}&quot">View Trainees</button>
        <button onclick="location.href=&quot{{ url_for('showTrainerRoutines', user_id=user_id) }}&quot">View Routines</button>
        <button onclick="location.href=&quot{{ url_for('showExercises', user_id=user_id) }}&quot">View Exercises</button>
        <button onclick="location.href=&quot{{ url_for('editTrainer', user_id=user_id) }}&quot">Edit Profile</button>
        <button onclick="location.href=&quot{{ url_for('showHome') }}&quot">Log off</button>
    </div>
</header>  
{% include "flashmessage.html" %}    